In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
# Paths to base csv files
MDA_Table_Path = os.path.join("MDA_table" + os.sep, "Master_Table_MDA.csv")
MTR_Table_Path = os.path.join("MTR_table" + os.sep, "Master_Table_MTR.csv")

In [3]:
# Create Data Frames for 
MDA_DF = pd.read_csv(MDA_Table_Path)
MTR_DF = pd.read_csv(MTR_Table_Path)

In [4]:
# Change Indexes
MDA_DF = MDA_DF.set_index("ZONA")
MTR_DF = MTR_DF.set_index("ZONA")

In [5]:
# Merge MDA and MTR Data Frames to Master_DF
Master_DF = MTR_DF.merge(MDA_DF, on=["ZONA", "SISTEMA", "FECHA", "HORA"], how="outer")

In [13]:
# Clean empty rows from Master_DF
Master_DF = Master_DF.dropna()

In [25]:
# Create register DF of ZONAS where there are prices equal to zero
NULLS_DF = Master_DF.loc[(Master_DF["PRECIO MTR"] == 0) | (Master_DF["PRECIO MDA"] == 0), :]

In [47]:
# Drop rows from Master_DF where PRECIO MDA or PRECIO MTR equals zero
Master_DF = Master_DF.loc[(Master_DF["PRECIO MTR"] != 0) & (Master_DF["PRECIO MDA"] != 0), :]

In [55]:
Master_DF.head()

,SISTEMA,FECHA,HORA,PRECIO MTR,PRECIO ENERGIA MTR,PRECIO PERDIDA MTR,PRECIO CONGESTION MTR,PRECIO MDA,PRECIO ENERGIA MDA,PRECIO PERDIDA MDA,PRECIO CONGESTION MDA,MTR-MDA,P_MTR – P_MDA,P_MTR–P_MDA
ZONA,,,,,,,,,,,,,,
ENSENADA,BCA,2018-01-01,1.0,525.48,508.92,16.56,0.0,192.06,187.15,4.90,0.0,333.42,333.42,333.42
ENSENADA,BCA,2018-01-01,2.0,520.96,505.26,15.70,0.0,818.25,799.03,19.22,0.0,-297.29,-297.29,-297.29
ENSENADA,BCA,2018-01-01,3.0,517.76,502.70,15.06,0.0,799.00,780.70,18.30,0.0,-281.24,-281.24,-281.24
ENSENADA,BCA,2018-01-01,4.0,512.98,498.10,14.88,0.0,829.04,810.53,18.51,0.0,-316.06,-316.06,-316.06
ENSENADA,BCA,2018-01-01,5.0,516.38,501.20,15.18,0.0,508.93,497.33,11.61,0.0,7.45,7.45,7.45

In [54]:
# Add P_MTR-P_MDA Column 
Master_DF["P_MTR–P_MDA"] = Master_DF["PRECIO MTR"] - Master_DF["PRECIO MDA"]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy